body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(71, 71, 70);
}

#cadastro-container, #clima-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.temperatura-azul {
    color: white;
    background-color: tomato;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.temperatura-verde {
    color: white;
    background-color: #28a745; 
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.temperatura-vermelho {
    color: white;
    background-color: #dc3545; 
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
}